requests   #to fetch data from webpae
beautifulsoup4 # to search content from tags
lxml  # help beautiful sou[ tag and text css differenciate 
html5lib #detect html tags and text
dputils # open source library of digipodium
#we act as a client tot extract data 